.category {
  padding: 40px 100px;
  position: relative;
  .wallpaper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -999;
    width: 100%;
    text-align: center;
  }
  .title {
    &::before,
    &::after {
      display: inline-block;
      vertical-align: middle;
      height: 1px;
      width: 300px;
      margin-right: 15px;
      content: "";
      background: linear-gradient(to left, rgba(0, 0, 0, 0.3), transparent);
    }
    &::after {
      margin-left: 15px;
      background: linear-gradient(to right, rgba(0, 0, 0, 0.3), transparent);
    }
  }
  .container {
    margin-top: 80px;
    .item-category {
      margin-bottom: 20px;
    }
  }
}

/* Smartphones (portrait) ----------- */
@media only screen and (min-width : 375px) and  (max-width : 736px){
  /* Styles */
  .category {
    .title {
      font-size: 16px;
      &::before,
    &::after {
      width: 38px;
      margin-right: 12px;
    }
    &::after {
      margin-left: 12px;
    }
    }
    .container {
      .item-category {
        h6 {
          font-size: 12px;
        }

      }
    }
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width : 768px) and (max-width : 1024px) {
  /* Styles */
  .category {
    .title {
      &::before,
    &::after {
      width: 150px;
      margin-right: 12px;
    }
    &::after {
      margin-left: 12px;
    }
    }
    .container {
      .item-category {
        h6 {
          font-size: 18px;
        }
      }
    }
  }
}
