.list-course {
	padding: 40px 100px;
	width: 100%;
	.item-course {
		width: 100%;
		.mct-original {
			.d-flex.fee {
				font-size: 16px;
			}
			.content {
				p {
					text-transform: capitalize;
				}
			}
		}
		// display: none;
	}
	.lc-main-content {
		.lc-content {
			width: 100%;
			margin: 25px 0;
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
		}
		.lc-btn-group {
			text-align: center;
			.btnn {
				font-size: $fs-md + 3;
				margin: 0 5px;
				font-family: $font-title;
				font-weight: $fw-bold-1;
				display: inline-flex;
				i {
					font-weight: normal;
					font-size: $fs-md-lg;
					margin-left: 5px;
				}
			}
		}
	}
}


/* Smartphones (portrait) ----------- */
@media only screen and (min-width : 375px) and  (max-width : 736px){
 .list-course {
	 .title {
			font-size: 16px;
	 }
	 .subtitle {
		 font-size: 8px;
	 }
	 .lc-main-content {
		 .item-course {
			 .khoa-hoc {
				 .main-content {
					 .status-course {
						 width: 28px;
						 height: 13px;
						 span {
							 font-size: 7px;
						 }
						 &::after {
							top: 0.5px;
							right: -5px;
							width: 10px;
							height: 10px;
						 }
					 }
					 .mct-original {
						 .content {
							 label {
								font-size: 10px;
								line-height: 16px;
							 }
							 p {
								 font-size: 10px;
								 text-transform: capitalize;
							 }
						 }
						 
					 }
					 .mct-hover {
						 p {
							 font-size: 9px;
						 }
						 h3 {
							 font-size: 18px;
						 }
						 .content {
							 p {
								text-transform: capitalize;

							 }
						 }
						 .d-flex.fee {
							font-size: 18px;
						} 
						span {
							font-size: 9px;
							&::before, &::after {
								width: 22px;
							}
						}
						.btn-group {
							a {
								font-size: 8px;
								padding: 10px 4px;
							}
							.like {
								width: 12px;
								.HeartAnimation {
									width: 72px;
									height: 72px;
									margin-top: -19px;
								}

							}
						}
					 }
				 }
			 }
			 .ct-wallpaper {
				 h3 {
					 font-size: 15px;
				 }
				  p {
						font-size: 9px;
						&::before,
						&::after {
							width: 15px;
						}
					}
			 }
		 }
	 }
 }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width : 768px) and (max-width : 1024px) {
  /* Styles */
}
